
.button {
        border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .button1 {background-color: #4CAF50; /* Green */}
  .button2 {background-color: rgb(248, 26, 26); /* Green */}
  .button3 {
        padding-left :55px; 
        padding-right: 55px;
      align-self: center;
    color: white;  
    background-color: rgb(22, 22, 22); /* Green */}
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  /* .main{ background-color: rgb(146, 146, 146);} */
  .one ,.two , .name {
    
    text-align: center;
    padding: 15px;
   
  }
  label{
    padding-left : 25px;
    text-align: right;
  }
  table{
      align-self: center;
  }
  th {background-color: #f2f2f2;}
  th, td {
    padding: 15px;
    text-align: center;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  select {
    width:auto;
    padding: 6px 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }